repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-executables-have-shebangs
  - id: mixed-line-ending
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.8
  hooks:
    - id: ruff
      args: [ --fix ]
    - id: ruff-format
- repo: local
  hooks:
  - id: version-check
    name: version-check
    description: "Check if version is consistent in all source files"
    entry: .pre-commit/version_check.py
    pass_filenames: false
    stages:
    - commit
    - manual
    language: python
    files: ^(\.pre-commit/version_check\.py|setup\.py|sphinx_multiversion/__init__\.py|docs/conf\.py|docs/changelog\.rst)$
    additional_dependencies:
    - sphinx
  - id: unittest
    name: unittest
    description: "Run unittests"
    entry: python -m unittest discover
    pass_filenames: false
    language: python
    types:
    - python
    stages:
    - commit
    - manual
    additional_dependencies:
    - sphinx
